.container {
    background-color: rgb(172, 95, 96);
    color: #5907e6;
    text-align: justify;
    margin: 40px, 20px, 30px, 100px;
    padding: 30px, 20px, 20px, 10px;
    height: 700px;
    width: 1000px;
    float: initial;
    border-block: solid;
    border-radius: 25%;
    border-color: aqua;
    font-size: xx-large;


}

.heading {
    color: hwb(70 6% 23%);
    margin-left: 400px;
    font-size: xxx-large;
}

.boxContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 400px;
}