.container {
    background-color: rgb(172, 95, 96);
    color: #5907e6;
    margin: 40px, 20px, 30px, 10px;
    padding: 30px, 20px, 20px, 10px;
    height: 500px;
    width: 1000px;
    border-block: solid;
    border-color: aqua;
    font-size: xx-large;
    box-shadow: #5907e6;
    border-style: initial;
}

.nameList {
    color: rgb(51, 203, 21);
    display: flex;
    background-color: #5e30b5;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px, 20px, 20px, 0px;
    cursor: pointer;
}

.heading {
    color: hwb(70 6% 23%);
    margin-left: 400px;
    font-size: xxx-large;
}

.boxContainer {
    display: flex;
    justify-content: space-around;
    margin-left: 2px;
}